body {
}

.container{
    width:100%;
    height:100vh;
}

.bg-img{
    background:url(/Images/background.jpg);
    background-size:cover;
    background-position-x:center;
    background-repeat:no-repeat;
}

.grid-container{
    max-width:1400px;
    margin:0 auto;
    width:80%;
}