body {
}
body {
}

.checkout-home {
    padding: 3.625em 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr .1fr .1fr 1fr;
    grid-template-areas: "back" "ship " "form " "order";
    grid-column-gap: 0em;
}



.back-container {
    grid-area: back;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.back-container-title {
    display: inline;
    font-size: 1.5rem;
    border-bottom: 1px solid #E0000A;
    padding-bottom: .1em;
    box-sizing: border-box;
}


.form-container {
    grid-area: form;
    max-width:500px;
}

.shiptolabel {
    grid-area: ship;
    font-size: 1.5rem;
    margin-bottom: 2.3em;
}

.form-group {
    position: relative;
}

    .form-group label {
        display: block;
        width: 100%;
        font-size: .9rem;
        margin-top: 2em;
        margin-bottom: .8em;
    }


.requiredStart {
    position: absolute;
    left: -20px;
    top: 4px;
    color: red;
}

.form-group input {
    width: 100%;
    height: 45px;
    padding: 0 .4em;
}

.form-group span {
    color: red;
    display: inline-block;
    margin-top: .5em;
}

.address-label {
    margin-top: 3em;
}

.complete-order {
    margin-top: 3em;
    color: white;
    border: none;
    width: 210px;
    height: 45px;
    background: #DB030D;
}

.secondary-form-container {
    grid-area: order;
    max-width:500px;

    
}
.img-formgroup label{
    margin-top:2em;
}
.imgstar {
    top: 30px !important;
}

@media(min-width:1024px) {

  

    .checkout-home {
        padding-top: 3.625em;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .1fr .1fr 1fr;
        grid-template-areas: "back back" "ship ship" "form order";
        grid-column-gap: 4em;
    }
}