

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>@ViewBag.Title</title>
        <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="~/Contents/reset.css" rel="stylesheet" />
        <link href="~/Contents/_layoutStylesheet.css" rel="stylesheet" />
    </head>



    <body>

    

        <div class="container-fluid">

            <div class="nav-container container">
                <a href="#" class="logo">
                    Gym Fit <img class="logo-img" src="~/Images/logo.svg">
                </a>
                <div class="search-bar"> <input placeholder="Search entire store " type="text" /></div>
                <div class="cart-container">
                    <a class="admin-portal" href="">Admin Portal</a>
                    <div class="cart">
                        <div class="cart-img">
                            <span class="iconify cart-img" data-inline="false" data-icon="ant-design:shopping-cart-outlined" style="color: #ffffff; font-size: 26.630435943603516px;">
                            </span><div class="cart-total">0</div>
                        </div> <p class="cart-price"><span class="price-divider">-</span><span id="currency">$</span>400.00</p>

                    </div>
                </div>
            </div>
            <span class="iconify humburger" data-inline="false" data-icon="cil:hamburger-menu" style="color: #ffffff; font-size: 35px;"></span>

            <div class="navigation">
                @await Component.InvokeAsync("Navigation")
            </div>



            <div class="container">



                @RenderBody()
            </div>
        </div>



        @RenderSection("Scripts", required: false)
    </body>
    </html>