

<nav class="container">
    <ul class="nav-content">

        <li class="nav-link nav-active"><a href="#">Home</a></li>
        <li class="nav-link "><a class="store-button">Store<span class="iconify store-arrow-down" data-inline="false" data-icon="dashicons:arrow-down-alt2"></span></a></li>

    </ul>

    <div class="navigation-category">

    </div>

</nav>