@{ 

    Layout = "~/Views/_Layout.cshtml";
}

    <link href="~/Contents/Home.css" rel="stylesheet" />


    <div class="grid-container homepage-content">


        <heading>

            <h4 class="summer-sale">Summer sales up to 50% off</h4>
            <h1 class="headline">Equip yourself for home gym</h1>


        </heading>


        <div class="sales-item">

            <div class="card">
                <div class="card-percentage"> 50% </div>
                <div class="card-img"> <img src="/ProductImages/Dumbbell.png" /></div>
                <div class="card-price">$120 <span class="card-previous-price">$240</span></div>
                <div class="card-cart-button">Add to cart</div>


            </div>

            <div class="card">
                <div class="card-percentage"> 50% </div>
                <div class="card-img"> <img src="/ProductImages/Dumbbell.png" /></div>
                <div class="card-price">$120 <span class="card-previous-price">$240</span></div>
                <div class="card-cart-button">Add to cart</div>


            </div>

        </div>








    </div>