
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

@model CatalogueViewModel


    <link href="~/Contents/CatalogueStyleSheet.css" rel="stylesheet" />



<div class="grid2by2">

    <div class="Category-title-container">
        <h1 class="product-category-title"> Suppliments</h1>
    </div>
    
    <div class="side-options">

        <label class="price-label">Price</label>
        <div class="price-option">

            <label class="lowestPrice">£0</label>
            <label class="highestPrice">£2000</label>

            <input class="price-range" type="range" />
        </div>

        <div class="brand">

            <label class="brand-label">Brand</label>

            <ul class="brand-options">

                <li>All</li>
                <li>Whey</li>
                <li>Whey</li>
                <li>Whey</li>
                <li>Whey</li>


            </ul>


        </div>


    </div>

    <div class="product-grid">

        <div class="product-card">

            <div class="product-percentage">
                47%
            </div>

            <div class="product-img">
                <img src="~/ProductImages/Whey.jpg" />

            </div>
            <div class="productName">
                <h4>Whey protien 100%</h4>
            </div>

            <div class="product-price">
                <div class="current-price">
                    £40
                </div>
                <div class="previous-price">
                    £84
                </div>
            </div>

            <div class="add-to-cart-button">
                Add to Cart
            </div>

        </div>


        <div class="product-card">

            <div class="product-percentage">
                47%
            </div>

            <div class="product-img">
                <img src="~/ProductImages/Whey.jpg" />

            </div>
            <div class="productName">
                <h4>Whey protien 100%</h4>
            </div>

            <div class="product-price">
                <div class="current-price">
                    £40
                </div>
                <div class="previous-price">
                    £84
                </div>
            </div>

            <div class="add-to-cart-button">
                Add to Cart
            </div>

        </div>



    </div>



</div>